{% load render_bundle from webpack_loader %}
{% load difficulty_level_serializer %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <title></title>
</head>
<body>
<div id="app">
    <gym-form :initial-difficulty-level-selects="{{ difficulty_level_formset|serialize }}">
        <template #gym-form>{% csrf_token %}{{ gym_form }}</template>
        <template #difficulty-levels>{{ difficulty_level_formset.management_form }}</template>
    </gym-form>
    <modal>{% include 'bouldern/color_form.html' with form=color_form %}</modal>
</div>
{{ difficulty_level_formset.0.media }}
{{ color_form.media }}
{% render_bundle 'gym_form' %}
</body>
