{% load render_bundle from webpack_loader %}
{% load gym_form_serializers %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
</head>
<body>
<div id="app">
    <gym-form :initial-difficulty-level-selects="{{ difficulty_level_formset|difficulty_level_select_data }}">
        <template #gym-form>{% csrf_token %}{{ gym_form }}</template>
        <template #difficulty-levels>
            {{ difficulty_level_formset.management_form|without_total_forms }}
        </template>
    </gym-form>
    {{ difficulty_level_formset.management_form|without_total_forms }}
    <modal>{% include 'bouldern/color_form.html' with form=color_form %}</modal>
</div>
{{ difficulty_level_formset.0.media }}
{{ color_form.media }}
{% render_bundle 'gym_form' %}
</body>
