{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load gym_form_serializers %}
{% load gym_map_serializer %}
{% block head %}
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  >
  <link rel="stylesheet" href="{% static 'bouldern/css/gym_map.css' %}">
{% endblock %}
{% block content %}
  <div id="app">
    <gym-map
      :gym-name="'{{ gym }}'"
      :gym-map-properties="{{ gym_map|gym_map_data }}"
      :prefix="'{{ formset.prefix }}'"
      :initial-boulder-coordinates="{{ formset|boulder_coordinates }}"
    >
      <template #csrf>{% csrf_token %}</template>
      <template #management-form>
        {{ formset.management_form|without_total_forms }}
{#      todo: move this to vue#}
        <div id="boulder-forms">
          {% for form in formset %}
            {{ form.id }}
          {% endfor %}
        </div>
      </template>
    </gym-map>
  </div>
  {% render_bundle 'gym_map' %}
{% endblock %}
