/db.sqlite3
/python_anywhere/bouldern/migrations/
/python_anywhere/accounts/migrations/
/media/
/python_anywhere/static/vue/
/python_anywhere/bouldern/tests/.pytest_cache/
/.semaphore/secrets/
/.idea/
/frontend/cypress/logs/
/frontend/cypress/screenshots/
/production_db/
/env/
