{% load static %}
<head>
    <title></title>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    #{{ gym }}_map {
        width: 100%;
        height: 100%;
    }

    {#    TODO: move to static and use <link rel="stylesheet" href="{{ STATIC_URL }}style.css"> in wrapper instead#}
    {% include 'bouldern/gym_map.css' %}
</style>

<form action="/bouldern/{{ gym }}/map/" method="post">
    {% csrf_token %}
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <input type="submit" value="Submit">
    </div>
    {{ formset }}
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<script src="{% static 'bouldern/js/map.js' %}"></script>
<div id="{{ gym }}_div_map">
    <div id="{{ gym }}_map"></div>
    <textarea id="{{ gym }}" class="vSerializedField required" cols="150" rows="10" name="{{ gym }}"></textarea>
    <script>
        const extent = [0, 0, {{ map_width }}, {{ map_height }}];
        const base_layer = new ol.layer.Image({
            source: new ol.source.ImageStatic({
                url: "{% static 'bouldern/images/'|add:gym|add:'/hallenplan.png' %}",
                projection: new ol.proj.Projection({
                    code: 'xkcd-image',
                    units: 'pixels',
                    extent: extent,
                }),
                imageExtent: extent,
            }),
        })
        const options = {
            base_layer: base_layer,
            id: '{{ gym }}',
            map_id: '{{ gym }}_map',
        };
        const {{ module }} =
        new MapWidget(options);
    </script>
</div>

</body>
