{% extends "gis/openlayers.html" %}

{% load static %}
{% block map_css %}
    #{{ id }}_map {
        width: 100%;
        height: 100%;
    }
    {% include 'bouldern/gym_map.css' %}
{% endblock %}

{% block base_layer %}
    const extent = [0, 0, {{ map_width }}, {{ map_height }}];
    const base_layer = new ol.layer.Image({
        source: new ol.source.ImageStatic({
            url: "{% static 'bouldern/images/'|add:gym|add:'/hallenplan.png' %}",
            projection: new ol.proj.Projection({
                code: 'xkcd-image',
                units: 'pixels',
                extent: extent,
            }),
            imageExtent: extent,
        }),
    })
{% endblock %}